<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @section.tag %>
</p>

<p>
  <strong>Category:</strong>
  <%= @section.category %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
